@{
    ViewBag.Title = "Home Page";
}
<div style="display:inline-block">
    <img src="~/Content/Rift.png" alt="Rift" />
    <h2>Rifts</h2>
    <h2>Chronicles</h2>
    <h2>Dungeons</h2>
    <h2>Experts</h2>
    <h2>Raids</h2>
</div>
<div style="display:inline-block">
    <img src="~/Content/stormlegion.png" alt="Rift Storm Legion" />
    <h2>Rifts</h2>
    <h2>Chronicles</h2>
    <h2>Dungeons</h2>
    <h2>Experts</h2>
    <h2>Raids</h2>
</div>
<div style="display:inline-block">
    <img src="~/Content/nightmareTide.png" alt="Rift Nightmare Tide" />
    <h2>Rifts</h2>
    <h2>Chronicles</h2>
    <h2>Dungeons</h2>
    <h2>Experts</h2>
    <h2>Raids</h2>
</div>