@{
    ViewBag.Title = "Home Page";
}
<div style="display:inline-block">
    <img src="~/Content/Rift.png" alt="Rift" />
    <h3>Rifts</h3>
    <h3>Chronicles</h3>
    <h3>Dungeons</h3>
    <h3>Experts</h3>
    <h3>Raids</h3>
</div>
<div style="display:inline-block">
    <img src="~/Content/stormlegion.png" alt="Rift Storm Legion" />
    <h3>Rifts</h3>
    <h3>Chronicles</h3>
    <h3>Dungeons</h3>
    <h3>Experts</h3>
    <h3>Raids</h3>
</div>
<div style="display:inline-block">
    <img src="~/Content/nightmareTide.png" alt="Rift Nightmare Tide" />
    <h3>Rifts</h3>
    <h3>Chronicles</h3>
    <h3>Dungeons</h3>
    <h3>Experts</h3>
    <h3>Raids</h3>
</div>